.Booking {
  height: 100dvh;
  background: url("C:\Users\DELL\OneDrive\Documents\GitHub\dj_project\public\Assets\calendar.jpg");
  background-repeat: none;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
