.container_CTA {
  position: relative;
  z-index: 2;
  background: var(--background-color);
  padding: calc(50% / 10) 0 0 0;
  height: 650px;
}

.CTA-Section {
  display: flex;
  flex-direction: row;
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("C:\Users\DELL\OneDrive\Documents\GitHub\dj_project\public\Assets\pexels-emma-bauso-2253867.jpg");
  background-size: cover;
}
.CTA-intro {
  display: flex;
  width: 40%;
  height: 50vh;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 10vh;
}
.CTA-head {
  font-size: 50px;
  margin-bottom: 3vh;
  font: bolder;
}
.CTA-pg {
  font-size: 25px;
}
.CTA-SideVideo {
  width: 40%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  bottom: -15dvh;
  height: fit-content;
  padding: 5px 0;
}
.CTA-Video {
  width: 360px;
  height: 460px;
  border: 1px black solid;
  background-color: grey;
}
