.container-test {
  padding: calc(100% / 18) calc(100% / 40);
  position: relative;
  z-index: 2;
  background: white;
}
.test-header {
  display: flex;
  font-size: 35px;
  justify-content: start;
  margin-left: 20vh;
  font-family: "Parisienne";
}
.testimonials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5dvh;
}
.test-arrow {
  display: flex;
  flex-direction: row;
  transition: 500ms;
}
.arrow {
  width: 5dvh;
  transition: 500ms;
}

.test-arrow a {
  transform: rotate(-90deg);
}

.test-arrow:hover {
  cursor: pointer;
}

.test-arrow:hover > .arrow:hover {
  opacity: 0.3;
  width: 7dvh;
  transition: 500ms;
}

.test-arrow:hover > .arrow:hover {
  opacity: 1;
  width: 7dvh;
  transition: 500ms;
}

.testimonial-place {
  width: 80%;
}
.testimomial-1,
.testimomial-2,
.testimomial-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.test1-word {
  margin: 0 7vw;
  font-size: 24px;
  font-family: "Lato";
}

.test1-picture {
  margin: 0 7vw;
}
.test1-picture img {
  background-size: cover;
  min-height: 275px;
  min-width: 275px;
}
