.Home {
  background: var(--background-color) ;
  height: fit-content;
}
.hr_div{
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  position:relative;
  z-index:4;
  padding-top: 30px
}
hr{
  background:black;
border: none;
  width:70%;
  height:1px;
}
.hero {
  height: fit-content;
}
.background {
  overflow: hidden;
  z-index: 1;
  height: 100dvh;
}
.background img {
  width: 100dvw;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 0;
  filter: grayscale(50%);
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25) !important;
}

.quote {
  background-color: black;
  position: relative;
  height: 250px;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 50px 0 25px 0;
  z-index: 200;
}

.quote span {
  margin: 50px 0 0 0;
  font-family: "Parisienne";
  font-weight: 500;
  font-size: 32px;
}
.quote p {
  font-weight: 200;
  padding: 20px 0;
  font-size: 34px;
  margin :auto 0;
}
.container {
  position: relative;
  z-index: 2;
  align-items: center;
  background: var(--background-color) !important;
  padding: calc(50% / 10) 0 0 0;
}

