.section-about-artist{
    height:500px;
    display: grid;
    grid-template-columns:  1fr 1fr .6fr;
    grid-template-areas:
    "images1 paragraph images2";
    grid-column-gap:4px;
}

.images_1{grid-area: images1;position:relative;}
.paragraph{grid-area:paragraph;}
.images_2{grid-area: images2;position: relative;overflow-x:hidden;}


.paragraph h6{
    font-size: 40px;
    font-family:"Parisienne";
}

.paragraph p{
    font-size: 22px;
    font-family:"Lato";
    letter-spacing:1px;
    margin-top:35px;
    margin-left:5px;
    line-height: 32px;
}

.images_1 .img_1,
.images_1 .img_2{
    position: absolute;
    z-index:3;
}

.images_2 .img_1,
.images_2 .img_2{
    position: absolute;
    z-index:3;
}

.images_1 .img_1{
    top:-10px;right:280px;
    rotate:7deg ;
    width:300px;
    height:400px;
}

.images_1 .img_2{
    top:70px;right:40px;
    height:390px;
    width:320px;
}

.images_2 .img_1{
    top:35px;left:80px;
    width:299px;
    height:350px;
}

.images_2 .img_2{
    bottom:40px;left:20px;
    height:290px;
    width:240px;
}

img{
    width: 100%;
}
