:root{
  --background-color:rgb(245, 245, 245);
  --calendar-background:rgb(250, 231, 214);
  --calendar-secondary:rgb(207, 192, 178);
  --calendar-accent:rgb(252, 193, 139);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans Semi Condensed";
  font-weight: normal;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

img {
  pointer-events: none;
}
